
{#    base.html – Main layout template for the web app#}
{#    This is the base template that defines the overall page structure,#}
{#    including the <head>, navigation bar, footer, and common layout elements.#}

{#    Child templates should extend this file using:#}
{#        {% extends 'base.html' %}#}

{#    Sections like {% block title %} and {% block content %} can be overridden#}
{#    to customize each page while keeping a consistent layout.#}

{#    Static files (CSS, JS) are loaded using the {% static %} tag.#}



{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Task Priority Prediction System{% endblock %}</title>
<!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js"></script>

  <style>
    body {
      padding-top: 70px;
    }
  </style>
</head>
<body>

{#  navigation bar#}
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">


      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
          <span class="sr-only">Switch Navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}">Tasks Priority Prediction System</a>
      </div>

{#      navigation link#}
      <div class="collapse navbar-collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'unassigned_list' %}">Unassigned Tasks</a></li>
          <li><a href="{% url 'assigned_list' %}">Assigned Tasks</a></li>
          <li><a href="{% url 'historical_list' %}">Historical Tasks</a></li>
          <li><a href="{% url 'predict_priority' %}">Single Tasks Priority Prediction</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

          {% if user.is_authenticated %}
  <a href="{% url 'logout' %}" class="btn btn-danger">Logout</a>
{% endif %}
        </ul>
      </div>

    </div>
  </nav>


  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

</body>
</html>
